@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="HomePageImg">
        <h1 class="text-center">Welcome</h1>
         <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec velit sit amet sem 
          congue consequat. Suspendisse posuere.</p>
    </div>
       
    </div>
<div class="container">
  <div class="row">
    <div class="col-md-4 card">
      <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.fchTwFEBDvwAbMb5Af32UQHaFj%26pid%3DApi&f=1&ipt=26b576dad12cd5889d0269ebda925ec5863e1886e0921689585807a46ff70edc&ipo=images" alt="Image"/>
      <h5 class="card-title">Card title</h5>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec velit sit amet sem 
          congue consequat. Suspendisse posuere sapien eget libero viverra, nec pretium purus feugiat. 
          Donec sed sapien vel elit rutrum tempus.</p>
    </div>

     <div class="col-md-4 card">
      <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.mWm8chxvaTxoorDWAoVYfAHaFj%26pid%3DApi&f=1&ipt=37f2c607015e6754d98f9eeb53121c8f8814d1456a9f48552db1f837a184f5d3&ipo=images" alt="Image"/>
      <h5 class="card-title">Card title</h5>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec velit sit amet sem 
          congue consequat. Suspendisse posuere sapien eget libero viverra, nec pretium purus feugiat. 
          Donec sed sapien vel elit rutrum tempus.</p>
    </div>
     <div class="col-md-4 card">
      <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.q9qj0S38Wg9kPayEDemz0gHaFj%26pid%3DApi&f=1&ipt=163aa7bc4ec3e8a4ad7003cdf74ec69d0e7fe967f75651cddb7a56a923848687&ipo=images" alt="Image"/>
      <h5 class="card-title">Card title</h5>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec velit sit amet sem 
          congue consequat. Suspendisse posuere sapien eget libero viverra, nec pretium purus feugiat. 
          Donec sed sapien vel elit rutrum tempus.</p>
    </div>

  </div>
</div>